<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>먹고해 결제완료</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/eat.css}">
<!--    <link href="../../static/css/eat.css" rel="stylesheet">-->
</head>

<body th:replace="~{layout :: layout}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>


    <div th:fragment="content" class="container py-3">
        <!-- ----------------------------------------------------------------- -->
        <!-- content 넣으실 부분 -->
        <!-- footer 하단 고정 때문에 content는 다 wrapper안에 넣음 -->
        <div id='wrapper'>
            <div class="container">
                <img th:src="@{/img/banner.jpg}" alt="배너" class="image">

                <div class="pay_text">
                    <h1>결제가 완료되었습니다!</h1>
                    가게 사장님께서 주문 확인 후 음식을 전달해 드리겠습니다.
                </div>


            </div>
            <div class="pay-confirm-button">
                <button type="button" class="btn btn-secondary" th:onclick="'location.href=\'/orders/' + ${order.id} + '\''">결제 내역 확인</button>
                <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/main}'|">홈으로</button>
            </div>


        </div>

    </div>




    <!-- ----------------------------------------------------------------- -->
    </div>




    <!-- 수량 변경 -->
    <script>
        // 모든 minus 버튼에 대해 이벤트 리스너 추가
        document.querySelectorAll('.minus').forEach(function (button) {
            button.addEventListener('click', function () {
                var quantityNumber = button.nextElementSibling;
                var currentQuantity = parseInt(quantityNumber.textContent);
                if (currentQuantity > 1) {
                    quantityNumber.textContent = currentQuantity - 1;
                }
            });
        });

        // 모든 plus 버튼에 대해 이벤트 리스너 추가
        document.querySelectorAll('.plus').forEach(function (button) {
            button.addEventListener('click', function () {
                var quantityNumber = button.previousElementSibling;
                var currentQuantity = parseInt(quantityNumber.textContent);
                quantityNumber.textContent = currentQuantity + 1;
            });
        });
    </script>





    <!-- 한글/영어 변환 시 글자가 세로로 표시되는 이슈로 인해 script 코드 추가 -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-link, .btn');

            // 각 링크 요소에 대해 반복하여 스타일을 동적으로 조정
            navLinks.forEach(function (link) {
                // 글자 크기에 따라 가로폭 조정
                const fontSize = parseFloat(window.getComputedStyle(link)
                    .fontSize); // 현재 글자 크기
                const textLength = link.textContent.length; // 텍스트 길이

                // 가로폭 조정
                const dynamicWidth = fontSize * textLength + 40; // 글자 크기 * 글자 수 + 여백
                link.style.width = dynamicWidth + 'px';
            });
        });
    </script>
</body>


</html>