<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/eat2.css}">
<!--    <link href="../../static/css/eat2.css" rel="stylesheet">-->
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body th:replace="~{layout2 :: layout2}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>


    <div th:fragment="content" class="container py-3">
        <!-- ----------------------------------------------------------------- -->
        <!-- content 넣으실 부분 -->
        <!-- footer 하단 고정 때문에 content는 다 wrapper안에 넣음 -->
        <div id='wrapper'>
            <div>
                <h1>회원가입</h1>
            </div>
            <div class="exp">
                <h2>먹고해의 새로운 회원이 되어주세요!</h2>
            </div>


            <form class="validation-form" novalidate action="insertOK"
                  method="post" onsubmit="prepareAddress(); prepareEmail();">
                <div class="form-group">
                    <label for="InputID">
                        <h2>아이디</h2>
                    </label>
                        <input type="text" class="form-control" name="id" id="InputID" placeholder="아이디를 입력하세요" style="width: 300px">
<!--                        <button type="button" id="checkButton" class="btn btn-dark" onclick="checkId()">중복확인</button>-->
<!--                        <button type="button" id="checkButton" class="btn btn-dark" >중복확인</button>-->
                            <small id="idcheckSuccess"  style="display:none; color: #0d6efd"></small>
                            <small id="idcheckFailure"  style="display:none; color: red"></small>

                </div>


                <div class="form-group">
                    <label for="InputPassword1">
                        <h2>비밀번호</h2>
                    </label>
                    <input type="password" class="form-control" name="pw"  id="InputPassword1" placeholder="비밀번호를 입력하세요"
                        oninput="checkPasswordMatch()">
                </div>


                <div class="form-group">
                    <label for="InputPassword2">
                        <h2>비밀번호 확인</h2>
                    </label>
                    <input type="password" class="form-control" id="InputPassword2" placeholder="비밀번호를 다시 입력하세요"
                        oninput="checkPasswordMatch()">
                    <small id="VerificationSuccess" class="hidden">비밀번호가 일치합니다.</small>
                    <small id="VerificationFailure" class="hidden">비밀번호가 일치하지 않습니다.</small>
                </div>


                <div class="form-group">
                    <label for="InputName">
                        <h2>이름</h2>
                    </label>
                    <input type="text" class="form-control" name="name" id="InputName" placeholder="이름을 입력하세요">
                </div>

                <div class="form-group">
                    <label>
                        <h2>닉네임</h2>
                    </label>
                    <input type="text" class="form-control" name="nickname" placeholder="닉네임을 입력하세요">
                </div>


                <div class="form-group">
                    <label for="InputTel">
                        <h2>전화번호</h2>
                    </label>
                    <input type="tel" class="form-control" name="tel" id="InputTel" placeholder="휴대폰 번호 입력 ('-' 제외 11자리 입력)">
                </div>


                <div class="form-group">
                        <h2>이메일</h2>
                    <div class="form-grid">
                        <input type="email" class="form-control" id="EmailId"  placeholder="이메일 아이디를 입력하세요"
                               oninput="prepareEmail()" >
                        <div>@</div>
                        <input type="email" class="form-control" id="EmailDomain" placeholder="이메일 주소를 입력하세요"
                               oninput="prepareEmail()">
                        <!-- 합친 주소를 전달할 hidden input -->
                        <input type="hidden" name="email" id="combined_email" placeholder="합쳐진 주소" required>
                        <button type="button" class="btn btn-dark" onclick="sendVerificationCode();">인증번호 발송</button>
                    </div>

                    <div id="form-findID-small">
                        <small id="NumberMsg" class="hidden">인증번호가 발송되었습니다.</small>
                    </div>
                    <div class="form-grid form-number">
                        <input type="number" class="form-control" id="InputVerificationCode" placeholder="인증번호 입력">
                        <button type="button" class="btn btn-dark" onclick="checkVerification()">확인</button>
                        <div id="form-findID-small">
                            <small id="EmailVerificationSuccess" class="hidden">인증이 완료되었습니다.</small>
                            <small id="EmailVerificationFailure" class="hidden">인증번호가 일치하지 않습니다.</small>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                        <h2>주소지</h2>
                    <div class="form-grid form-address">
                        <input type="text" class="form-control address_input_1" id="sample6_postcode" placeholder="우편번호" disabled="readonly">
                        <button type="button" class="btn btn-dark address_button" onclick="execution_daum_address()">찾기</button>
                    </div>
                    <input type="text" class="form-control InputAddress address_input_2"  id="sample6_address" placeholder="주소" disabled="readonly">
                    <input type="text" class="form-control InputAddress address_input_3" id="sample6_detailAddress" placeholder="상세주소">

                    <!-- 합친 주소를 전달할 hidden input -->
                    <input type="hidden" name="address" id="combined_address" placeholder="합쳐진 주소" required>
                </div>


                <div class="form-group">
                    <h2>서비스 이용 약관 동의</h2>
                    <div><input type="checkbox" class="form-check-input" id="exampleCheck">
                        <label class="form-check-label">전체 동의하기</label>
                    </div>

                </div>
                <div class="centered-button-container">
                    <button type="submit" class="btn btn-primary centered-button">가입하기</button> <!-- 초기 비활성화 -->
                </div>
            </form>
        </div>






    <!-- 아이디 중복확인 -->

    <script>
// <!--        &lt;!&ndash;  아이디 중복확인  &ndash;&gt;-->
//
//
// <!--        function checkId() {-->
// <!--        var inputId = document.getElementById("InputID").value; // 아이디 입력값-->
// <!--        var xhr = new XMLHttpRequest();-->
//
// <!--        xhr.open("GET", "/member/checkId?id=" + encodeURIComponent(inputId), true);-->
// <!--        xhr.onreadystatechange = function() {-->
// <!--        if (xhr.readyState === 4 && xhr.status === 200) {-->
// <!--        var isAvailable = JSON.parse(xhr.responseText); // 서버 응답 파싱-->
//
// <!--        if (isAvailable) {-->
// <!--        // 아이디가 사용 가능하면 메시지 표시-->
// <!--        document.getElementById("IdSuccess").classList.remove("hidden");-->
// <!--        document.getElementById("IdFailure").classList.add("hidden");-->
// <!--        } else {-->
// <!--        // 아이디가 중복이면 메시지 표시-->
// <!--        document.getElementById("IdSuccess").classList.add("hidden");-->
// <!--        document.getElementById("IdFailure").classList.remove("hidden");-->
// <!--        }-->
// <!--        }-->
// <!--        };-->
//
// <!--        xhr.send(); // 서버에 요청 전송-->
// <!--        }-->


$(document).ready(function () {
    $("#InputID").keyup(function() {
        let inputId = $("#InputID").val();
        console.log("Current input ID:", inputId);
        if (inputId!==""){
        $.ajax({
            url: "/member/checkId",
            type: "get",
            data: {id: inputId},
            dataType: "json",
            success: function (obj) {
                console.log("Response from server:", obj);
                let result = obj ? "사용가능" : "로그인 아이디가 중복되었습니다.";
                $("#result").html(result);

                if (obj) {
                    $("#idcheckSuccess").show().html("사용 가능한 아이디입니다.");
                    $("#idcheckFailure").hide();
                } else {
                    $("#idcheckFailure").show().html("로그인 아이디가 중복되었습니다.");
                    $("#idcheckSuccess").hide();
                }
            },
            error: function (xhr, status, error) {
                console.log("Error occurred:", error);
                console.log("Status:", status);
                console.log("Response:", xhr.responseText);
                $("#result").html("서버 오류");
                $("#VerificationFailure").show().html("서버에서 응답을 받지 못했습니다.");
                $("#VerificationSuccess").hide();
            }

        });
        }else{
            $("#idcheckFailure").hide();
            $("#idcheckSuccess").hide();
        }
    });
});


    </script>


    <!-- 비밀번호 일치/불일치 여부 메시지 표시 -->
    <script>
        function checkPasswordMatch() {
            var password1 = document.getElementById("InputPassword1").value;
            var password2 = document.getElementById("InputPassword2").value;

            var verificationSuccessMessage = document.getElementById("VerificationSuccess");
            var verificationFailureMessage = document.getElementById("VerificationFailure");

            if (password1 === '' || password2 === '') {
                verificationSuccessMessage.classList.add("hidden");
                verificationFailureMessage.classList.add("hidden");
                return; // 하나 이상의 입력란이 비어 있으면 메시지를 표시하지 않고 함수 종료
            }

            if (password1 === password2) {
                verificationSuccessMessage.classList.remove("hidden");
                verificationFailureMessage.classList.add("hidden");
            } else {
                verificationSuccessMessage.classList.add("hidden");
                verificationFailureMessage.classList.remove("hidden");
            }
        }
    </script>

    <!--  이메일  주소 합치기    -->
    <script>
        function prepareEmail() {
            // 주소 필드들의 값을 가져옴
            var emailId = document.getElementById('EmailId').value;
            var emailDomain = document.getElementById('EmailDomain').value;

             // 주소 필드들이 모두 공백인지 확인
            if (emailId.trim().length === 0 && emailDomain.trim().length === 0) {
                // 모든 주소 필드가 공백이면 합친 주소를 null로 설정
                document.getElementById('combined_email').value = null;
            } else {
                // 주소 필드들이 모두 공백이 아니면 주소를 합쳐서 설정
                var combinedEmail = emailId + '@' + emailDomain;
                document.getElementById('combined_email').value = combinedEmail;
                console.log(combinedEmail);

                document.getElementById("updateBtn").disabled = true;
            }



        }
    </script>

    <!--  메일 전송한 후, "인증번호가 발송되었습니다" 띄우는 메소드  -->
    <script>
        function sendVerificationCode() {

            var email = document.getElementById('combined_email').value;
            console.log(email);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/find/sendVerificationCode", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log("이메일이 전송되었습니다.");
                    document.getElementById("NumberMsg").classList.remove("hidden");
                }
            };
            xhr.send("email=" + email);
        }
    </script>



    <!--  인증번호가 일치하는지 확인 -->
    <script>
        function checkVerification() {
            var email = document.getElementById("combined_email").value;
            var verificationCode = document.getElementById("InputVerificationCode").value;

            // 서버로 이메일과 인증번호 전송하여 확인
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/find/verifyCode2", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 인증 성공 시
                    document.getElementById("EmailVerificationSuccess").classList.remove("hidden");
                    document.getElementById("EmailVerificationFailure").classList.add("hidden");
                    // 아이디 확인 버튼 활성화
                    document.getElementById("updateBtn").disabled = false;

                } else if (xhr.readyState === 4 && xhr.status !== 200) {
                    // 인증 실패 시
                    document.getElementById("EmailVerificationSuccess").classList.add("hidden");
                    document.getElementById("EmailVerificationFailure").classList.remove("hidden");
                    // 아이디 확인 버튼 비활성화
                    document.getElementById("updateBtn").disabled = true;

                }
            };
            xhr.send("email=" + encodeURIComponent(email) + "&code=" + encodeURIComponent(verificationCode));
        }
    </script>

    <!--    주소 합치기    -->
    <script>
        function prepareAddress() {
            // 주소 필드들의 값을 가져옴
            var postcode = document.getElementById('sample6_postcode').value;
            var address = document.getElementById('sample6_address').value;
            var detailAddress = document.getElementById('sample6_detailAddress').value;

             // 주소 필드들이 모두 공백인지 확인
            if (postcode.trim().length === 0 && address.trim().length === 0 && detailAddress.trim().length === 0) {
                // 모든 주소 필드가 공백이면 합친 주소를 null로 설정
                document.getElementById('combined_address').value = null;
            } else {
                // 주소 필드들이 모두 공백이 아니면 주소를 합쳐서 설정
                var combinedAddress = address + ' ' + detailAddress;
                document.getElementById('combined_address').value = combinedAddress;
            }
        }
    </script>

    <!--   주소 찾기 API 추가     -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        /* 다음 주소 연동 */
        function execution_daum_address(){
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.

                     // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 주소변수 문자열과 참고항목 문자열 합치기
                        addr += extraAddr;

                    } else {
                        addr += ' ';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 상세주소 필드가 null이 아닌 경우
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }

            }).open();
        }



    </script>
    <!-- 한글/영어 변환 시 글자가 세로로 표시되는 이슈로 인해 script 코드 추가 -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-link, .btn');

            // 각 링크 요소에 대해 반복하여 스타일을 동적으로 조정
            navLinks.forEach(function (link) {
                // 글자 크기에 따라 가로폭 조정
                const fontSize = parseFloat(window.getComputedStyle(link).fontSize); // 현재 글자 크기
                const textLength = link.textContent.length; // 텍스트 길이

                // 가로폭 조정
                const dynamicWidth = fontSize * textLength + 40; // 글자 크기 * 글자 수 + 여백
                link.style.width = dynamicWidth + 'px';
            });
        });
    </script>
</body>


</html>