@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.body {
    max-width: 1000px;
}

.container {
    max-width: 1000px;

}

.pricing-header {
    max-width: 1000px;
}

.test{
    background-color: white;
}
.nav-link {
    
    color:#0d6efd;
    display: inline-block;
    padding: 10px 20px; /* 가로 여백 설정 */
    margin-right: 10px; /* 각 링크 사이의 간격 설정 */
}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom:  200px;
  }

  /* Bold체로 사용할 스타일을 정의한다 */
h1 {
  font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
  font-weight: bold; /* Bold로 설정 */
}

h2 {
  font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
  font-weight: bold;
}

h3 {
  font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
  font-weight: bold;
}

h4 {
  font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
  font-weight: bold;
}

h5 {
  font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
  font-weight: bold;
}


.title{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: left;
}

/* ----------------- 메인 페이지 -----------------  */
.container {
  position: relative;
  margin: 0 auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.location-button {
  padding: 7px 15px;
  background-color: white;
  color: #0d6efd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.search-box {
  width: 400px;
  padding: 7px;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

 /* 화면 크기에 따라 크기 조정 */
@media screen and (max-width: 768px) {
  .text {
    font-size: 10px;
  }

  
  .text h1 {
    font-size:20px;
  }
  .search-box{
    width: 200px;
    padding: 2px;
    border-radius: 5px;
    font-size: 10px;
  }
  .search-button {
    padding: 2px;
    font-size: 11px;
  }
  .location-button {
    padding: 2px;
    font-size: 11px;
  }
}

.card-margin {
  margin-bottom: 150px;
}

footer{
    margin-top:200px;
    height: 200px;
    position : relative;
    transform : translateY(-100%);
    color:black
  }


/* ----------------- 음식점 목록 페이지 -----------------  */
.nav{
  font-size: 14px;
  background-color: rgba(239, 239, 239, 0.968);
  margin-top:50px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.active {
  border-radius: 10%;
  margin: 5px;
  background-color: white;
  color:black;
}

.list-link {
  border-radius: 10%;
  color:black;
  align-items: center;
  margin-right: 0px;
  padding:10px 1px;
}

.list-card{
  display: grid;
  cursor: pointer; /* 마우스 커서를 손 모양으로 설정 */
  grid-template-columns: 100px auto; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 25px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin-bottom: 10px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

}

.review-list-card{
   width: 700px;
   padding: 20px;
   cursor: pointer; /* 마우스 커서를 손 모양으로 설정 */
   align-items: center; /* 요소들을 수직 중앙 정렬 */
   margin-bottom: 10px;
   text-align: left;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

 }

.card {
  cursor: pointer;
}
.card-title{
  font-weight: bold;
}

.card-title a {
    color: black; /* 텍스트 색상을 검은색으로 설정합니다. */
    text-decoration: none; /* 텍스트 밑줄을 없앱니다. */
}

.card-img {
    box-sizing: border-box;
    margin:8px;
    height: 100px;

}

.card-img-top-container{
    display: flex;
    align-items: center;
}

.card-img-top-container img {
    height: 100px;
}

.card-img-top {
    width: 100%;
    height: fit-content;
}

.card-menu-img-top {
    width: 100%;
    height: 100px;
}

.shop {
  margin:8px;
  width:100%;
}

.card-menu-body {
    height: 110px;
}

.card-body a{
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 기본 색상 */
}

.sort-button {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.shop-info {
  display: grid;
  grid-template-columns: 120px 170px; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 10px;
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.detail-card-img-container{
    height: 100px;
}

.mypage-review{
    margin-top: 30px;
    margin-bottom: 40px;
    display:flex;
    justify-content: flex-end;
}

.mypage-review button a{
    text-decoration: none;
    color: black;
}

.review-update-btn {
     text-decoration: none;
     color: white;
     padding: 9px 15px 9px 15px;
     background-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
     border-radius: 7px;
}

.review-info {
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.review-comment-selectOne {
    position: relative; /* 툴팁의 위치를 요소 기준으로 정렬하기 위해 사용 */
    margin-top: 10px;
    padding: 10px;
    border : 1px solid lightgrey;
    border-radius: 10px;
}

.review-comment {
    position: relative; /* 툴팁의 위치를 요소 기준으로 정렬하기 위해 사용 */
    margin-top: 2px;
    padding: 10px;
    border : 1px solid lightgrey;
    border-radius: 10px;
}

.review-comment::before {
    content: attr(data-tooltip); /* 데이터 어트리뷰트에서 텍스트를 가져옴 */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 */
    color: white;
    padding: 5px 10px; /* 여백 */
    border-radius: 5px; /* 둥근 모서리 */
    top: -35px; /* 요소 위쪽에 위치 */
    left: 50%; /* 중앙 정렬 */
    transform: translateX(-50%); /* 중앙 정렬 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    opacity: 0; /* 기본적으로 숨겨짐 */
    transition: opacity 0.3s; /* 부드러운 전환 효과 */
    pointer-events: none; /* 마우스 이벤트 무시 */
}

/* 마우스가 요소 위에 있을 때 툴팁을 표시 */
.review-comment:hover::before {
    opacity: 1; /* 툴팁 표시 */
}


.review-comment:hover{
    background-color: #0d6efd;
    color:white;
}

.review-img-container {
    margin-top: 10px;

}

.review-img-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;

}

.review-star-container {
    width: 70px;
}

.review-info-details{
  display: grid;
  grid-template-columns: 50px 200px; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 5px;
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.shop-info-details1 {
  display: grid;
  grid-template-columns: 25px 50px 30px; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 5px;
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.shop-info-details2 {
  display: grid;
  grid-template-columns: 25px 80px 80px; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 10px;
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.shop-info-details3 {
  display: grid;
  grid-template-columns: 60px 50px; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 10px;
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.shop-info-details4 {
  display: grid;
  grid-template-columns: 120px 120px; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 10px;
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.shop-info p {
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin: 0; /* 기본 마진 제거 */
}


.row {
  margin-bottom: 10px;
}
.col {
  margin-bottom: 10px;
}

.paging {
    display: flex;
    justify-content: center;
}

.centralized-link {
    display: inline-block; /* inline-block으로 중앙 정렬 가능 */
    text-align: center; /* 텍스트를 중앙에 정렬 */
    padding: 10px 0px 10px 10px;
    font-weight: bold;
    color:#0d6efd;
    border-radius:5px;
    text-decoration: none;
    background-color:rgba(239, 239, 239, 0.968);

}

.centralized-link:hover {
    background-color: #0d6efd;
    color:white

}

/* ----------------- 음식점 상세 페이지 -----------------  */
.shop-title-container {
  margin-bottom:0;
}

.shop-title {
  font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.shop-image-container {
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: flex-start; /* 요소들을 수직 중앙 정렬 */
}

.shop-image {
  width: 100%;
  border-radius: 10%;
}

.nav-menu {
  margin-bottom:20px;
}

.nav-menu a {
  border-radius: 10px;
}

.shop-detail-container {
  display: grid;
  grid-template-columns: 25% 70%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 25px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.star-score-container {
  display: grid;
  grid-template-columns: 30% 10%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 5px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin-bottom: 10px;
}

.star-score {
  width:100%;
}

.shop-info-container {
  margin-right: 10px;
}

.red-text {
  text-align: left;
  color:red;
  margin: 0;
  font-weight: bold;
}

.grey-text {
  text-align: left;
  color:grey;
  margin: 0;
  font-weight: bold;
}

.black-text-small {
  text-align: left;
  color:black;
  margin: 0;
}

.shop-menu-container {
  display: grid;
  grid-template-columns: 70% 30%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 10px; /* input과 button 사이의 간격 조정 */
}

.shop-menu {
  font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.shop-detail-row {
  margin-bottom: 50px;
}

.menu-title {
  font-size:14px;
  font-weight: bold;
}

.menu-price {
  font-size:11px;
  font-weight: bold;
  margin: 0; /* 기본 마진 제거 */
  text-align: left;
}

/* 음식점 상세:오른쪽 장바구니 */

.cart-card{
  display: grid;
  grid-template-columns: 30% 25% 20% 10%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 10px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin-bottom: 10px;
  cursor: pointer; /* 마우스 커서를 손 모양으로 설정 */
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.cart-price {
  font-size: 15px;
  font-weight: bold;
}

.quantity {
  font-size:12px;
}
.quantity-modal {
  font-size:1rem;
}

.quantity-button{
  background-color: aliceblue;
  border: none;
}

.remove-button {
  background-color: black;
  color: white;
  margin:0;
  font-size:10px;
  padding:0px;
}

.cart-total {
  background-color: rgb(238, 238, 238);
  border:1px dotted;
}

.deliver {

  margin-top: 10px;
}
.deliver-left{
  margin-left:10px;
}

.deliver-right{
  float:right;
  margin-right:10px;
}

.total {
  margin-top:20px;
}
.total-left{
  margin-left:10px;
  font-size: 20px;
  font-weight: bold;
}

.total-right{
  float:right;
  margin-right:10px;
  font-size: 20px;
  font-weight: bold;
}

.total-button{
  display: grid;
  grid-template-columns: 50% 50%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 10px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin:10px;
}

.order-btn{
  text-align:right;
}

.cancel-btn{
  text-align:left;
}


/* ---------------- 결제하기 ---------------- */
.pay-title {
  margin:20px;
  margin-top: 70px;
}

.sub-title{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.pay-container{
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding:27px;
  margin-bottom: 20px;
  text-align: left;
}

.pay-content-container{
  display: grid;
  grid-template-columns: 10% 20% 70%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 20px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin-bottom: 5px;
  text-align: left;
  font-size: 17px;
}

.pay-content-title {
  font-weight: bold;
}

#InputRequest {
  height:100px;
}


.pay-coupon-container{
  display: grid;
  grid-template-columns: 30% 60%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 20px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin-bottom: 5px;
  text-align: left;
  font-size: 17px;
}

.coupon-title {
  font-size: 18px;
  font-weight: bold;
}

.coupon {
  width: 300px !important; /* 너비 조절 */
}

.dropdown {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.pay-way-container{
  padding:10px;
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 33% 33% 33%; /* input과 button을 동일한 너비로 설정 */
  grid-column-gap: 20px; /* input과 button 사이의 간격 조정 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  margin-bottom: 5px;
  text-align: left;
  font-size: 17px;
}



.pay-recipt {
  font-weight: bold;
  display: grid;
  grid-template-columns: 30% 60%;
}


.form-pay-recipt input {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pay-total {
  text-align: center;
  margin: 0 auto;
}


/* ------------결제 완료 페이지------------- */

.pay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pay-confirm-button {
  margin-top: 40px;
  margin-bottom : 500px;
  text-align: center; /* 가로 중앙 정렬 */
}

.pay-confirm-button button {
  margin: 0 5px; /* 버튼 간격 조정 */
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
}



/*  ----------------- 음식점 상세: 리뷰 페이지 --------------*/
.review-container {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.review-score {
  margin-top: 30px;
  margin-bottom: 10px; /* review-score 아래에 10px의 간격 생성 */
}

.review-star img{
  width:20%;
}

.review-number{
  margin: 20px;
  font-size: 12px;
}

.review-content-container{
  text-align: left;
  margin: 20px;
}

.review-type-my {
  font-size: 15px;
  font-weight: bold;
}

.review-user {
  font-weight: bold;
}

.review-info {
  font-size:12px;
}

.review-menu {
  color:#0d6efd;
  font-size: 12px;
}

.review-img {
  width:40%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.review-img img {
    width: 40%;
    height: fit-content;

}

.review-content {
  font-size: 15px;
}

.review-real img{
  width: 10%;
}

.review-type-real {
  font-size: 18px;
  font-weight: bold;
  color: #ff1567;
}

.bad-review .review-content {
  background-color: #f2f2f2; /* 회색 배경 색상 설정 */
  padding: 10px; /* 내부 여백 추가 */
  border-radius: 5px; /* 모서리를 둥글게 만듦 */
  text-align: center; /* 텍스트 가운데 정렬 */
  color:transparent;
}

.bad-review .review-content::after {
  color:black;
  content: "광고 및 악성 리뷰로 의심되어 가려진 리뷰입니다. 리뷰를 보려면 클릭하세요."; /* 가상 요소를 사용하여 추가 텍스트 삽입 */
  display: block; /* 블록 요소로 설정하여 줄 바꿈이 될 수 있도록 함 */
  font-weight: bold; /* 굵은 글꼴로 설정 */
  margin-top: 5px; /* 위쪽 여백 추가 */
}

/* --------------- 위치 확인 페이지 ---------------- */
#location-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kakao-api {
  border:1px solid black;
  margin-top: 20px;
}

.location-container {
  margin-top: 40px;
}


.location-container {
  display: flex;
  align-items: center;
}


.search-box {
  margin-right: 30px;
}

.btn-square {
  border-radius: 0 !important; /* Important to override any existing styles */
}

 .order-status {
   align-self: center;
   display: flex;
   width: 100%;
   max-width: 1051px;
   flex-direction: column;
   font-size: 16px;
   color: #000;
   font-weight: 400;
   letter-spacing: -0.3px;
 }

.restaurant-info {
  border-radius: 10px;
  border: 3px solid rgba(236, 240, 241, 0.46);
  background-color: rgba(217, 217, 217, 0);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 14px 13px;
}

.view-restaurant {
  font-family: Roboto, sans-serif;
  border-radius: 10px;
  border: none;
  background-color: #006FCA;
  color: aliceblue;
  align-self: end;
  margin-top: 97px;
  justify-content: center;
  padding: 12px 24px;
}

.order-items {
  border-radius: 10px;
  border: 3px solid rgba(236, 240, 241, 0.46);
  background-color: rgba(217, 217, 217, 0);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 14px 80px 14px 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-between; /* 버튼 간격 동일하게 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 10px; /* 적당한 패딩 */
  gap: 10px; /* 버튼 사이의 간격 */
}

.order-container {
  border-radius: 10px;
  border: 1px solid #ececec;  /* 경계선 색상을 조금 더 세밀하게 조정 */
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;  /* 패딩을 좌우 동일하게 조정 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 상자 그림자 추가 */
  width: 100%; /* 너비 설정 */
  margin: 20px auto; /* 중앙 정렬 */
}

.orders-container {
  border-radius: 10px;
  border: 1px solid #ececec; /* Light grey border for subtle definition */
  display: flex;
  flex-direction: row; /* To layout the child elements in a row */
  align-items: center; /* Vertically align items in the center */
  justify-content: space-between; /* Distribute space evenly between items */
  padding: 20px; /* Uniform padding around the content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for 3D effect */
  width: 100%; /* Full width to stretch across the container */
  margin: 20px auto; /* Margin for auto horizontal centering and space between sections */
}

h3, h5 { /* 제목 스타일 조정 */
  margin-bottom: 5px;
  color: #333; /* 글자 색상 조정 */
}

.address-title, .tel-title, .restaurant-request { /* 각 제목에 대한 스타일 */
  margin-top: 10px; /* 위쪽 마진 추가 */
  font-size: 16px; /* 글자 크기 조정 */
}

.address-details, .tel-details, .request { /* 상세 정보 스타일 */
  margin-left: 10px; /* 왼쪽 마진 추가 */
  color: #555; /* 글자 색상 어둡게 */
  font-size: 14px; /* 글자 크기 줄임 */
}


.restaurant-request {
  font-family: Roboto, sans-serif;
  margin-top: 24px;
}

.rider-request {
  font-family: Roboto, sans-serif;
  margin-top: 24px;
  /*높낮이 차이*/
}

.payment-amount-title-all { /*border 을 지정해주는 친구;*/
  align-self: start;
  margin: 27px 3px 0 45px;
  font: 14px Roboto, sans-serif;
  border-radius: 10px;
  border: 3px solid rgba(236, 240, 241, 0.46);
  padding: 15px 200px 30px 12px;
}


.payment-method-container1 {
  /*비교적 정상적으로 정렬됨*/
  align-self: center;
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  gap: 20px;
  justify-content: space-between;
}


.payment-method-container2 {
  /*비교적 정상적으로 정렬됨*/
  align-self: center;
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  gap: 20px;
  justify-content: space-between;
}


.payment-method-container3 {
  /*비교적 정상적으로 정렬됨*/
  align-self: center;
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  gap: 20px;
  justify-content: space-between;
}


.payment-method-container {
  /*비교적 정상적으로 정렬됨*/
  align-self: center;
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 2000px;
  gap: 700px;
  justify-content: space-between;


}






.validation-form {
    width: 900px;
}

.input-map {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* --------------- 검색 ---------------- */

.shop-search {
    display: flex;
    margin-top : 20px;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.shop-search input{
    margin-right: 5px;

}

.input-address {
    width: 300px;
}

.sorry-img {
    margin-top: 30px;
    margin-bottom: 100px;
    display:flex;
    justify-content: center;
}

.sorry-img img{
    display:flex;
    justify-content: center;
    width: 500px;
}


/*---------리뷰페이지-----------*/
.review-button{
    display:flex;
    justify-content: center;
}


.shop-search-container {
    display: flex;
    justify-content: flex-end;
    width: 500px;
}