@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.container {
    max-width: 1000px;
    
}

.logo {
    display: flex;
    justify-content: center;
}

.pricing-header {
    max-width: 1000px;
}

.nav-link {
    
    color:#0d6efd;
    display: inline-block;
    justify-content:right;
    padding: 10px 20px; /* 가로 여백 설정 */
    margin-right: 10px; /* 각 링크 사이의 간격 설정 */
}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom:  200px;
  }

/* Bold체로 사용할 스타일을 정의한다 */
h1 {
    font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
    font-weight: bold; /* Bold로 설정 */
  }

h2 {
    font-family: 'Inter', sans-serif; /* Inter 폰트 사용 */
    font-weight: medium;
  }

::placeholder {
    /* Placeholder의 세로 크기 설정 */
    line-height: 50px;
}

footer{
    margin-top:200px;
    height: 200px;
    position : relative;
    transform : translateY(-100%);
    color:black
  }

.title{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    justify-content: center;
}

#social-btn {
    margin-bottom: 10px; /* 버튼 사이에 간격 추가 */
    font-size: 20px;
}

.exp {
    margin-bottom: 50px;
}

.form-group{
    margin-bottom: 30px;
    width: 80%;
}


.form-grid{
    display: grid;
    grid-template-columns: 300px auto 300px 150px; /* input과 button을 동일한 너비로 설정 */
    grid-column-gap: 10px; /* input과 button 사이의 간격 조정 */
    align-items: center; /* 요소들을 수직 중앙 정렬 */
}

.form-number input{
    margin-top: 10px;
}

.form-address {
    margin-bottom: 10px;
}

.InputAddress {
    margin-bottom: 10px;
}
#passwordAlert {
    color: red;
}

#IdSuccess {
    color: #0d6efd;
}
#NumberMsg {
    color: #0d6efd;
}

#VerificationMsg {
    color: #0d6efd;
}

.square {
    border: 1px solid #ccc; /* 테두리를 설정하고 싶은 색상 및 두께 */
    border-radius: 10px; /* 테두리의 모서리를 둥글게 만들고 싶은 정도 */
    padding: 10px; /* 내용과 테두리 간의 여백 설정 */
}

/* -------------회원가입 완료---------- */

.join_container {
    margin-bottom: 300px;
}

/* -------------로그인------------- */
.form-login{
    display: flex;
    justify-content: center;

}

.form-login button {
    /* Button의 세로 크기 설정 */
    height: 70px;
    margin-bottom: 10px;
}

.form-login input {
    /* Button의 세로 크기 설정 */
    width:70%;
    height: 50px;
    margin-bottom: 10px;
}


/* -------------아이디 찾기------------ */
.form-findID {
    display: flex;
    justify-content: center;

}

.form-findID button {
    /* Button의 세로 크기 설정 */
    height: 50px;
    margin-left: 10px;
}

.form-findID input {
    /* Button의 세로 크기 설정 */
    width:70%;
    height: 50px;
}

#form-findID-small {
    display: flex;
    justify-content: left;
    width:70%;
    margin-left: 7%;
}

.hidden {
    display: none; /* 숨김 */
}

#VerificationSuccess {
    color: #0d6efd;
}

#VerificationFailure {
    color: red;
}

.centered-button-container {
    text-align: center; /* 내부 요소들을 가운데 정렬 */
}

.centered-button {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 500px; /* 버튼의 원하는 너비 설정 */
    height: 50px; /* 버튼의 원하는 높이 설정 */
    font-size: 18px; /* 버튼의 원하는 글꼴 크기 설정 */
    font-weight: bold;
}

#id-pw-btn {
    display: flex;
    justify-content: center;
}


/* ----------아이디 확인 페이지-------- */
.id-confirm-out{
    display: flex;
    justify-content: center;
}
.id-confirm{
    display: flex;
    justify-content: center;
    width:70%;
    background-color: rgb(227, 227, 227);
    
}
.id-confirm p{
    margin-top: 3%;
    color:black;
    font-weight: bold;
}

footer{
    height: 200px;
    position : relative;
    transform : translateY(-100%);
    color:black
  }

/* 새로운 비밀번호 변경 페이지 */
#form-changePW-small {
    display: flex;
    justify-content: left;
    width:70%;
    margin-left: 15%;
}

.mypage-review{
    margin-bottom: 40px;
    display:flex;
    justify-content: flex-end;
}

/* 사장님 페이지 */
.input-time {
    display: flex;
    align-items: center; /* 아이템을 수직으로 중앙 정렬 */
    gap: 8px; /* 요소들 사이의 간격 설정 */
}

.input-time input {
    width: 150px; /* 각 입력 필드의 너비 지정 */
}