<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
<body th:fragment="layout">
	<header>
<!-- 		헤더 내용 -->

	</header>

	<nav>
		<!-- 네비게이션 메뉴 등 -->
		<div th:replace="~{top_menu :: test_top_menu}"></div>
	</nav>

	<main>
		<div th:replace="~{::content}"></div>
	</main>

	<footer>
		<!-- 페이지 하단에 들어갈 내용 -->
		<div th:replace="~{footer :: test_copy}"></div>
	</footer>

	<!-- 한글/영어 변환 시 글자가 세로로 표시되는 이슈로 인해 script 코드 추가 -->
	<script>
		window.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-link, .btn');

            // 각 링크 요소에 대해 반복하여 스타일을 동적으로 조정
            navLinks.forEach(function (link) {
                // 글자 크기에 따라 가로폭 조정
                const fontSize = parseFloat(window.getComputedStyle(link).fontSize); // 현재 글자 크기
                const textLength = link.textContent.length; // 텍스트 길이

                // 가로폭 조정
                const dynamicWidth = fontSize * textLength + 40; // 글자 크기 * 글자 수 + 여백
                link.style.width = dynamicWidth + 'px';
            });
        });
	</script>
</body>
</html>
