<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메인페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/eat.css}">
<!--    <link href="../../static/css/eat.css" rel="stylesheet">-->
</head>

<body th:replace="~{layout :: layout}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <div th:fragment="content" class="container py-3">
        <!-- ----------------------------------------------------------------- -->
        <!-- content 넣으실 부분 -->
        <!-- footer 하단 고정 때문에 content는 다 wrapper안에 넣음 -->
        <div id='wrapper'>
            <div class="container">
                <img th:src="@{/img/banner.jpg}" alt="배너" class="image">

                <div class="text">
                    <h1>근처 맛집에서 배달하기</h1>
                    위치를 입력하여 근처 맛집을 탐색해 보세요
                </div>


                <div class="search-container">
                    <button type="button" class="btn btn-light"
                            th:onclick="|location.href='@{shopMainwithMyPosition}'|">내 위치에서 주변 맛집 검색하기</button>
                </div>
            </div>




            <div class="title">
                <h1>카테고리</h1>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="card" th:onclick="|location.href='@{/shop_selectPageBlockAll}'|">
                            <img th:src="@{/img/whole.jpg}" class="card-img-top" alt="...">
<!--                            <img src="../../static/img/whole.jpg" class="card-img-top" alt="...">-->

                            <div class="card-body">
                                <h5 class="card-title">전체보기</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=1}'|">
                            <img th:src="@{/img/chicken.jpg}" class="card-img-top" alt="...">
<!--                            <img src="../../static/img/chicken.jpg" class="card-img-top" alt="...">-->

                            <div class="card-body">
                                <h5 class="card-title">치킨</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=2}'|">
                            <img th:src="@{/img/pizza.jpg}" class="card-img-top" alt="...">
<!--                            <img src="../../static/img/pizza.jpg" class="card-img-top" alt="...">-->

                            <div class="card-body">
                                <h5 class="card-title">피자/양식</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=3}'|">
                            <img th:src="@{/img/jambong.jpg}" class="card-img-top" alt="...">
<!--                            <img src="../../static/img/jambong.jpg" class="card-img-top" alt="...">-->

                            <div class="card-body">
                                <h5 class="card-title">중국집</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=4}'|">
                            <img th:src="@{/img/korean.jpg}" class="card-img-top" alt="...">
<!--                            <img src="../../static/img/korean.jpg" class="card-img-top" alt="...">-->

                            <div class="card-body">
                                <h5 class="card-title">한식</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=5}'|">
                            <img th:src="@{/img/sushi.jpg}" class="card-img-top" alt="...">
<!--                            <img src="../../static/img/sushi.jpg" class="card-img-top" alt="...">-->

                            <div class="card-body">
                                <h5 class="card-title">일식/돈까스</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-margin">
                    <div class="row row-cols-3">
                        <div class="col">
                            <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=6}'|">
                                <img th:src="@{/img/jokbal.jpg}" class="card-img-top" alt="...">
<!--                                <img src="../../static/img/jokbal.jpg" class="card-img-top" alt="...">-->

                                <div class="card-body">
                                    <h5 class="card-title">족발/보쌈</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=7}'|">
                                <img th:src="@{/img/soju.jpg}" class="card-img-top" alt="...">
<!--                                <img src="../../static/img/soju.jpg" class="card-img-top" alt="...">-->

                                <div class="card-body">
                                    <h5 class="card-title">야식</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=8}'|">
                                <img th:src="@{/img/bunsik.jpg}" class="card-img-top" alt="...">
<!--                                <img src="../../static/img/bunsik.jpg" class="card-img-top" alt="...">-->

                                <div class="card-body">
                                    <h5 class="card-title">분식</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" th:onclick="|location.href='@{/categoryList.do?cateId=9}'|">
                                <img th:src="@{/img/dessert.jpg}" class="card-img-top" alt="...">
<!--                                <img src="../../static/img/dessert.jpg" class="card-img-top" alt="...">-->

                                <div class="card-body">
                                    <h5 class="card-title">카페/디저트</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- 한글/영어 변환 시 글자가 세로로 표시되는 이슈로 인해 script 코드 추가 -->
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-link, .btn');

            // 각 링크 요소에 대해 반복하여 스타일을 동적으로 조정
            navLinks.forEach(function (link) {
                // 글자 크기에 따라 가로폭 조정
                const fontSize = parseFloat(window.getComputedStyle(link).fontSize); // 현재 글자 크기
                const textLength = link.textContent.length; // 텍스트 길이

                // 가로폭 조정
                const dynamicWidth = fontSize * textLength + 40; // 글자 크기 * 글자 수 + 여백
                link.style.width = dynamicWidth + 'px';
            });
        });
    </script>
</body>


</html>