<html xmlns:th="http://www.thymeleaf.org" >

<head>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/eat.css}">
</head>
<div th:fragment="test_top_menu2" class="container py-3">
	<!-- header -->
	<header>

		<div class="d-flex flex-column flex-md-row align-items-center justify-content-end">
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">



						<div class="navbar-nav">
							<a th:if="${session.member_id == null}" class="nav-link" th:href="@{/member/login}">로그인</a>
							<a th:if="${session.member_id != null}" class="nav-link" th:href="@{/member/logout}">로그아웃</a>
						</div>

					</div>
				</div>
			</nav>

		</div>
		<div class="logo">
			<a th:href="@{../../main}" class="logo d-flex link-body-emphasis text-decoration-none">
				<img th:src="@{/img/logo.png}" alt="로고" width="30%" height="auto">
			</a>
		</div>


	</header>
</div>
</html>