<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>음식점 목록</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/css/eat.css}">
    <!--    <link href="../../static/css/eat.css" rel="stylesheet">-->



    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=94fa44e37edff70a86093f3bcbc462fa&libraries=services"></script>
    <script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=JAVASCRIPT_APP_KEY&autoload=false"></script>

</head>
<body th:replace="~{layout :: layout}" onload="onLoad()">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <div th:fragment="content" class="container py-3">
        <!-- ----------------------------------------------------------------- -->
        <!-- content 넣으실 부분 -->
        <!-- footer 하단 고정 때문에 content는 다 wrapper안에 넣음 -->
        <div id='wrapper'>

            <div class="container">
                <img th:src="@{/img/banner_mini.jpg}" alt="배너" class="image">
            </div>

            <nav class="nav">
                <a class="list-link nav-link" th:classappend="${currentCategoryId == null} ? 'active' : ''" th:href="@{/shop_selectPageBlockAll}">전체보기</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 1} ? 'active' : ''" th:href="@{/categoryList.do?cateId=1}">치킨</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 2} ? 'active' : ''" th:href="@{/categoryList.do?cateId=2}">피자/양식</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 3} ? 'active' : ''" th:href="@{/categoryList.do?cateId=3}">중국집</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 4} ? 'active' : ''" th:href="@{/categoryList.do?cateId=4}">한식</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 5} ? 'active' : ''" th:href="@{/categoryList.do?cateId=5}">일식/돈까스</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 6} ? 'active' : ''" th:href="@{/categoryList.do?cateId=6}">족발/보쌈</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 7} ? 'active' : ''" th:href="@{/categoryList.do?cateId=7}">야식</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 8} ? 'active' : ''" th:href="@{/categoryList.do?cateId=8}">분식</a>
                <a class="list-link nav-link" th:classappend="${currentCategoryId == 9} ? 'active' : ''" th:href="@{/categoryList.do?cateId=9}">카페/디저트</a>
            </nav>

            <div class="title">
                <h1>음식점 목록</h1>
            </div>

            <form class="validation-form" novalidate action="shop_searchWord"
                  method="post">
                <!-- 쿠키에 로그인한 유저 정보 있을 경우 -->
                <div th:if="${userId}">
                    <input id="userId"  name="userId" type="hidden" th:value="${userId}">
                </div>

                <div class="shop-search-container">
                    <input id="searchWord" width="100px" class="form-control" name="searchWord" type="text" placeholder="음식점명을 입력해주세요">
                    <button class="btn btn-dark" type="submit">검색</button>
                </div>

            </form>


            <!-- 쿠키에 로그인한 유저 정보 있을 경우 -->
            <div class="sort-button" th:if="${userId != null}">
<!--                <span th:text="|유저아이디 있음 ${userId}|"></span>-->
                <button class="btn btn-light" th:attr="data-userid=${userId}" onclick="location.href='/sortList.do?sortNum=1&amp;userId=' + this.getAttribute('data-userid');">별점순</button>
                <button class="btn btn-light" th:attr="data-userid=${userId}" onclick="location.href='/sortList.do?sortNum=2&amp;userId=' + this.getAttribute('data-userid');">최소금액순</button>
                <button class="btn btn-light" th:attr="data-userid=${userId}" onclick="location.href='/sortList.do?sortNum=3&amp;userId=' + this.getAttribute('data-userid');">리뷰수 순</button>
            </div>
            <!-- 쿠키에 로그인한 유저 정보 없을 경우 -->
            <div class="sort-button" th:if="${userId == null}">
<!--                <span th:text="|유저아이디 없음 ${userId == null}|"></span>-->
                <button class="btn btn-light" onclick='location.href="sortList.do?sortNum=1";'>별점순</button>
                <button class="btn btn-light" onclick='location.href="sortList.do?sortNum=2";'>최소금액순</button>
                <button class="btn btn-light" onclick='location.href="sortList.do?sortNum=3";'>리뷰수 순</button>
            </div>
<!--            <div >-->
<!--                <button class="btn btn-light" onclick='location.href="sortList.do?sortNum=1";'>별점순</button>-->
<!--                <button class="btn btn-light" onclick='location.href="sortList.do?sortNum=2";'>최소금액순</button>-->
<!--                <button class="btn btn-light" onclick='location.href="sortList.do?sortNum=3";'>리뷰수 순</button>-->
<!--            </div>-->

            <div class="container text-center">
                <div class="row">
                    <th:block th:each="vo : ${vos}">
                        <div class="col">
                            <div class="list-card">
                                <div class="card-img-top-container">
                                    <img th:src="${vo.shopThum}"  class="card-img">
                                </div>

                                <div class="card-body">
                                    <a th:href="@{'/shopDetail?num=' + ${vo.shopId}}">
                                        <h4 class="card-title" th:text="${vo.shopName}"></h4>
                                    </a>

                                    <div style="display: none;"><span th:text="${vo.shopId}"></span></div>
                                    <div class="shop-info">
                                        <div class="shop-info-details1">
                                            <img th:src="@{/img/star.png}" alt="평점" width="100%">
                                            <p>별점</p>
                                            <p th:text="${vo.starAvg}"></p>
                                        </div>
                                        <div class="shop-info-details2">
                                            <img th:src="@{/img/deliver.png}" alt="평점" width="100%">
                                            <p>배달시간</p>
                                            <p th:text="${vo.deliveryTime}"></p>
                                        </div>
                                    </div>
                                    <div class="shop-info">
                                        <div class="shop-info-details3">
                                            <p>리뷰수</p>
                                            <p th:text="${vo.reviewCount}"></p>
                                        </div>
                                        <div class="shop-info-details4">
                                            <p>최소주문금액</p>
                                            <p th:text="${vo.minPrice}"></p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>


                <div class="paging">
                    <table>
                        <tfoot>
                        <tr>

                            <td colspan="6">
                                <th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}"  >
                                    <!-- 로그인 안한 전체 조회 페이지 -->
                                    <th:block th:if="${param.searchWord}== null and ${param.cateId}== null and ${param.mypositionaddr} == null and ${param.userId} == null and ${param.sortNum} == null">
                                        <a th:href="|shop_selectPageBlockAll?cpage=${i}|" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>

                                    <!-- 로그인 성공 주변 전체 조회 페이지 -->
                                    <th:block th:if="${param.userId != null and (param.searchWord == null or param.searchWord == '') and (param.cateId == null or param.cateId == '') and (param.sortNum == null or param.sortNum == '')}">
                                        <a th:href="@{shop_selectPageBlockAll(cpage=${i},userId=${param.userId})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>

                                    <!-- 로그인 안한 검색 키워드 조회 페이지 -->
                                    <th:block th:if="${param.searchWord != null and (param.userId == null or param.userId == '')}">
                                        <a th:href="@{shop_search(cpage=${i},searchWord=${param.searchWord})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>

                                    <!-- 로그인 성공 주변 검색 키워드 조회 페이지 -->
                                    <th:block th:if="${param.searchWord != null and param.userId != null}">
                                        <a th:href="@{shop_search(cpage=${i},searchWord=${param.searchWord},userId=${userId})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>


                                    <!-- 로그인 안한 카테고리별 조회 페이지 -->
                                    <th:block th:if="${param.cateId != null and (param.userId == null or param.userId == '')}">
                                        <a th:href="@{categoryList.do(cpage=${i},cateId=${param.cateId})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>

                                    <!-- 로그인 성공 주변 카테고리별 조회 페이지 -->
                                    <th:block th:if="${param.cateId != null and param.userId != null}">
                                        <a th:href="@{categoryList.do(cpage=${i},cateId=${param.cateId},userId=${userId})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>


                                    <!-- 로그인 유무상관없이 카카어맵 주소확인후 주변 음식점 조회 페이지 -->
                                    <th:block th:if="${param.mypositionaddr}!= null">
                                        <a th:href="@{mypositioncheckok(cpage=${i},mypositionaddr=${param.mypositionaddr})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>

                                    <!-- 로그인 안한 정렬 조회 페이지 -->
                                    <th:block th:if="${param.sortNum != null and (param.userId == null or param.userId == '')}">
                                        <a th:href="@{sortList.do(cpage=${i},sortNum=${param.sortNum})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>

                                    <!-- 로그인 성공 주변 정렬 조회 페이지 -->
                                    <th:block th:if="${param.sortNum != null and param.userId != null}">
                                        <a th:href="@{sortList.do(cpage=${i},sortNum=${param.sortNum},userId=${userId})}" class="centralized-link">[[${i}]] &nbsp;</a>
                                    </th:block>
                                </th:block>
                            </td>

                        </tr>
                        </tfoot>
                    </table>
                </div>
        </div>
    </div>

</body>
</html>