<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>thymeleaf</title>
	<script async src="https://imgbb.com/upload.js"></script>

<h1>hi</h1>
</head>

<body>
<!--이미지 테스트 -->
<img src="https://i.ibb.co/Xpj6qng/default.png" alt="default" height="50" width="50">
<img src="https://i.ibb.co/LSJpQ02/thum1.png" alt="thum1" height="50" width="50">

<a href="https://ibb.co/rQ2rdXK"><img src="https://i.ibb.co/rQ2rdXK/thum2.png" alt="thum2" border="0"></a>

<a href="https://ibb.co/sjx3tK6"><img src="https://i.ibb.co/sjx3tK6/thum3.png" alt="thum3" border="0"></a>

<a href="https://ibb.co/7WcWmCf"><img src="https://i.ibb.co/7WcWmCf/thum4.png" alt="thum4" border="0"></a>

<a href="https://ibb.co/fH3HgGr"><img src="https://i.ibb.co/fH3HgGr/thum5.png" alt="thum5" border="0"></a>

<a href="https://ibb.co/Tm4d6Z6"><img src="https://i.ibb.co/Tm4d6Z6/thum6.png" alt="thum6" border="0"></a>

<a href="https://ibb.co/JkhvCgD"><img src="https://i.ibb.co/JkhvCgD/thum7.png" alt="thum7" border="0"></a>
<a href="https://ibb.co/bb7nVxX"><img src="https://i.ibb.co/bb7nVxX/thum8.png" alt="thum8" border="0"></a>
<a href="https://ibb.co/V9t8WBd"><img src="https://i.ibb.co/V9t8WBd/thum9.png" alt="thum9" border="0"></a>
<a href="https://ibb.co/s59Krtr"><img src="https://i.ibb.co/s59Krtr/thum10.png" alt="thum10" border="0"></a>


<!-- 이미지 테스트: 메뉴 -->
<img src="https://i.ibb.co/qxtdBR0/chicken.png" alt="chicken"  height="50" width="50"/>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/d4cD2Pd/cutlet.png" alt="cutlet" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/JCR31Qp/dessert.png" alt="dessert" border="0"></a>
<img src="https://i.ibb.co/XV8hrSN/feet.png" alt="feet" border="0">
<a href="https://imgbb.com/"><img src="https://i.ibb.co/gRBSYRN/korean.png" alt="korean" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/dr34kyF/pasta.png" alt="pasta" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/nBDJ0jW/pizza.png" alt="pizza" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/frHDVFL/sushi.png" alt="sushi" border="0"></a>
<img src="https://i.ibb.co/W24t5Jr/salad.png" alt="salad" border="0">
</body>

</html>